.technical__container {
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
  background-color: #222831;

  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:before {
    top: -200px;
    background-image: url("/assets/img/layered-waves-haikei.svg");
    background-position-y: 99%;
  }

  &:after {
    bottom: -200px;
    background-image: url("/assets/img/layered-waves-revert-haikei.svg");
  }

  & > h1 {
    color: #eee;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    text-align: center;
  }

  & > .repository__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 calc(50vw - 600px);
    grid-gap: 3rem;
  }
}

.repository {
  display: flex;
  position: relative;
  background: #393e45;
  border-radius: 8px;
  padding: 10px 100px 10px 10px;
  box-shadow: 0 0 10px -10px;

  & > img {
    height: 100px;
    border-radius: 8px;
    margin-right: 2rem;
  }

  & > .repository--private {
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: Roboto, sans-serif;
    color: #777;
    border: 1px solid #777;
    border-radius: 20px;
    padding: 3px 8px;
    font-size: .8rem;
  }

  & > .repository--visit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #00ADB5;
    padding: 5px 10px;
    font-family: Roboto, sans-serif;
    border: 1px solid #2C3333;
    border-radius: 4px;
    font-size: .8rem;

    & > a {
      color: #ffffff;
    }
  }
}

.repository__description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > * {
    margin: 0;
  }

  & > h4 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #ddd;
  }

  & > p {
    font-family: Roboto, sans-serif;
    color: #777;
  }

  & > .repository__languages > span {
    font-family: Roboto, sans-serif;
    font-size: 0.8rem;
    padding: 3px 8px;
    margin: 8px 5px 0 0;
    border: 1px solid;
    display: inline-block;
    border-radius: 20px;
  }
}
