.technical__container {
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
  background-color: #222831;

  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:before {
    top: -200px;
    background-image: url("/assets/img/layered-waves-haikei.svg");
    background-position-y: 99%;
  }

  &:after {
    bottom: -200px;
    background-image: url("/assets/img/layered-waves-revert-haikei.svg");
  }
}
