@import "../variables";

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.navbar__item {
  display: inline;
  padding-left: 2rem;

  & > a {
    font-family: $fontMaster;
    font-weight: $fontMasterWeight;
    color: #eeeeee;
  }

  &.navbar__item--highlighted > a {
    background-color: #00ADB5;
    border-radius: 4px;
    padding: .4rem 1rem;
    font-weight: $fontMasterWeightBold;
  }
}
