<section class="presentation presentation--round">
  <div class="presentation__container">
    <div class="presentation__container__text">
      <p class="presentation__container__text--subtitle">Bonjour,</p>
      <p class="presentation__container__text--title">
        Je suis Lucas Mercier,<br>
        Développeur Full Stack
      </p>
      <p class="presentation__container__text--description">
        Apprennez à me connaitre & découvrez mes projets<br>
        et expériences en parcourant mon site.
      </p>
      <div class="presentation__container__buttons">
        <a class="presentation__container__button presentation__container__button--important" href="#">Prendre contact</a>
        <a class="presentation__container__button" href="#">En savoir plus</a>
      </div>
    </div>
    <div class="presentation__container__illustration">
      <img src="/assets/img/undraw_programming.svg" alt="programming illustration">
    </div>
  </div>
</section>

